@import '../../variables';
@import '../../mixins';


.footer {
    padding: 30px 0;
    background: #00244b;
    color: $clr-white;
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        gap: 10px;
        @include mq(sm) {
            justify-content: center;
        }
        .list__link {
            color: $clr-white;
        }
    }
    &__text {
        color: #7C90A4;
    }
}